[*.cs]

# S1125: Boolean literals should not be redundant
dotnet_diagnostic.S1125.severity = none

# S1128: Remove this unnecessary 'using'.
dotnet_diagnostic.S1128.severity = none

# S1066: Merge this if statement with the enclosing one.
dotnet_diagnostic.S1066.severity = none

# S3971: "GC.SuppressFinalize" should not be called
dotnet_diagnostic.S3971.severity = none

# S4035: Classes implementing "IEquatable<T>" should be sealed
dotnet_diagnostic.S4035.severity = none