[*.cs]

# CA1031: Do not catch general exception types
dotnet_diagnostic.CA1031.severity = silent

# CA1303: Do not pass literals as localized parameters
dotnet_diagnostic.CA1303.severity = silent

# CA1062: Validate arguments of public methods
dotnet_diagnostic.CA1062.severity = silent

# CA1812: Avoid uninstantiated internal classes
dotnet_diagnostic.CA1812.severity = silent

# CA1724: Type names should not match namespaces
dotnet_diagnostic.CA1724.severity = silent
