<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup   name="reth.protocols.transfer.tcp" 
                        type="Reth.Protocols.Transfer.Tcp.Configuration.SectionGroup, Reth.Protocols.Transfer.Tcp">
            <section name="client" type="Reth.Protocols.Transfer.Tcp.Configuration.ClientSection, Reth.Protocols.Transfer.Tcp" />
            <section name="server" type="Reth.Protocols.Transfer.Tcp.Configuration.ServerSection, Reth.Protocols.Transfer.Tcp" />
        </sectionGroup>
    </configSections>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>

    <reth.protocols.transfer.tcp>
        <server maxClientConnections="20">
            <listeners>
                <ipv4 enabled="true" />
                <ipv6 enabled="false" />
            </listeners>
        </server>
    </reth.protocols.transfer.tcp>
</configuration>
